;; This is the source of a zone stored in test.sqlite3.  It's provided
;; for reference purposes only.
;; (SOA has been removed)
nosoa.example.         1000  IN  SOA a.dns.example.com. mail.example.com. 1 1 1 1 1
nosoa.example.         1000  IN  NS  a.dns.nosoa.example.
nosoa.example.         1000  IN  NS  b.dns.nosoa.example.
nosoa.example.         1000  IN  NS  c.dns.nosoa.example.
