{
    "version": 2,
    "Logging": {
        "loggers": [
            {
                "severity": "DEBUG",
                "name": "*", "debuglevel": 99
            }
        ]
    },
    "Auth": {
        "datasources": [
            {"zones": [{"origin": "example.", "file": "configurations/nsec3/rfc5155-example.zone.signed"}], "type": "memory"}],
            "listen_on": [{"port": 47806, "address": "0.0.0.0"}
        ]
    },
    "data_sources": {
        "classes": {
            "IN": [
                {
                    "type": "MasterFiles",
                    "cache-enable": true,
                    "params": {
                        "example.": "configurations/nsec3/rfc5155-example.zone.signed"
                    }
                }
            ]
        }
    },
    "Boss": {
        "components": {
            "b10-auth": {"kind": "needed", "special": "auth"},
            "b10-cmdctl": {"kind": "needed", "special": "cmdctl"}
        }
    }
}
