*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
.deps/
.libs/
__pycache__/
Makefile
Makefile.in
TAGS

/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.report
/config.status
/config.sub
/configure
/cscope.files
/cscope.out
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/py-compile
/stamp-h1

/all.info
/coverage-cpp-html
/dns++.pc
/report.info
/logger_lockfile
