*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*~
.deps/
.libs/
__pycache__/
Makefile
Makefile.in
TAGS

*.log
*.trs
config.h.in~
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.report
/config.status
/config.sub
/configure
/cscope.files
/cscope.out
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/py-compile
/stamp-h1
/test-driver
/ylwrap

/all.info
/coverage-cpp-html
/dns++.pc
/local.zone.sqlite3
/logger_lockfile
/report.info
/hammer
