/upgrade_1.0_to_2.0.sh
/upgrade_2.0_to_3.0.sh
/upgrade_3.0_to_4.0.sh
/upgrade_4.0_to_4.1.sh
/upgrade_4.1_to_5.0.sh
/upgrade_5.0_to_5.1.sh
/upgrade_5.1_to_5.2.sh
/upgrade_5.2_to_6.0.sh
/upgrade_6.0_to_7.0.sh
/upgrade_7.0_to_8.0.sh
/wipe_data.sh
