{
    "version": 2,
    "Logging": {
        "loggers": [ {
            "severity": "DEBUG",
            "name": "auth",
            "debuglevel": 99
        }
        ]
    },
    "Auth": {
        "database_file": "data/example.org.sqlite3",
        "listen_on": [ {
            "port": 47807,
            "address": "::1"
        } ]
    }
}
