{"version": 2, "Logging": {"loggers": [{"severity": "DEBUG", "name": "auth", "debuglevel": 99}]}, "Auth": {"database_file": "", "listen_on": [{"port": 47806, "address": "127.0.0.1"}], "datasources": [{"zones": [{"origin": "example.org", "file": "data/example.org"}], "type": "memory"}]},
    "Boss": {
        "components": {
            "b10-auth": {"kind": "needed", "special": "auth" },
            "b10-xfrin": { "address": "Xfrin", "kind": "dispensable" },
            "b10-xfrout": { "address": "Xfrout", "kind": "dispensable" },
            "b10-zonemgr": { "address": "Zonemgr", "kind": "dispensable" },
            "b10-stats": { "address": "Stats", "kind": "dispensable" },
            "b10-stats-httpd": { "address": "StatsHttpd", "kind": "dispensable" },
            "b10-cmdctl": { "special": "cmdctl", "kind": "needed" }
        }
    }
}
