{
    "version": 3,
    "Logging": {
        "loggers": [{
            "severity": "DEBUG",
            "name": "*",
            "debuglevel": 99
        }]
    },
    "Auth": {
        "listen_on": [{
            "port": 56176,
            "address": "127.0.0.1"
        }]
    },
    "data_sources": {
        "classes": {
            "IN": [
                {
                    "type": "sqlite3",
                    "params": {
                        "database_file": "data/glue.sqlite3"
                    }
                }
            ]
        }
    },
    "Init": {
        "components": {
            "b10-auth": { "kind": "needed", "special": "auth" },
            "b10-cmdctl": { "special": "cmdctl", "kind": "needed" }
        }
    }
}
