{
    "version": 2,
    "Logging": {
        "loggers": [ {
            "severity": "DEBUG",
            "name": "*",
            "debuglevel": 99
        }
        ]
    },
    "Auth": {
        "database_file": "data/test_nonexistent_db.sqlite3",
        "listen_on": [ {
            "port": 47806,
            "address": "127.0.0.1"
        } ]
    },
    "data_sources": {
        "classes": {
            "IN": [
                {
                    "type": "sqlite3",
                    "params": {
                        "database_file": "data/test_nonexistent_db.sqlite3"
                    }
                }
            ]
        }
    },
    "Boss": {
        "components": {
            "b10-auth": { "kind": "needed", "special": "auth" },
            "b10-cmdctl": { "special": "cmdctl", "kind": "needed" }
        }
    }
}
