/buffer_logger_test
/buffer_logger_test.sh
/console_test.sh
/destination_test.sh
/init_logger_test
/init_logger_test.sh
/initializer_unittests_1
/initializer_unittests_2
/local_file_test.sh
/logger_example
/logger_lock_test
/logger_lock_test.sh
/run_unittests
/severity_test.sh
/tempdir.h
