#!/bin/sh

# This auxiliary script is considered temporary in nature. It will not be
# necessary once the DataStax cpp-driver project accepts proper cql_config
# script.

# This variable should point to the directory where sysrepo is compiled.
# You can download sysrepo sources from https://github.com/sysrepo/sysrepo.git
export LIBYANG_PATH="/please/specify/path/to/libyang/in/sysrepo_config_defines.sh"
export SYSREPO_PATH="/please/specify/path/to/sysrepo/in/sysrepo_config_defines.sh"
